* {
  margin: 0px;
  text-align: center;
  font-optical-sizing: auto;
  
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.background {
  background-image: url("https://gray-kgns-prod.gtv-cdn.com/resizer/v2/TXF3QODTOJOGDLC6MUKHHGWIQM.jpg?auth=9ce3c8a3ac9430be4956268a2eafa00b5564205f618da13d15fdb597dbb7129f&width=1600&height=900&smart=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 690px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 100%;
  min-height: 690px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
}
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 10px;
}

/* footer */

.footer-container {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: end;
  justify-content: end;
  /* padding: 20px; */
}
.footer-text {
  margin: 10px 10px;
  width: 48%;
  text-align: start;
}
.footer-text h1,
p {
  text-align: start;
}
.footer-address {
  margin: 10px 10px;
  width: 48%;
  text-align: end;
}
.footer-address p {
  text-align: end;
}
.pdf-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50%;
  margin: 15px 0;
}
/* navbar */

.navbar-container {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30px;
  margin: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.logo {
  width: 49%;
  text-align: start;
  font-weight: 500;
  font-size: 20px;
}
.logo span {
  font-family: cursive;
}
.login-info {
  width: 50%;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* login */
.login-container {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  border: 2px solid black;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-container h1 {
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 40px;
}
.login-container label {
  align-items: start;
  justify-content: start;
  text-align: start;
  font-weight: 400;
  font-size: 20px;
}
.input {
  border: 0.5px solid rgba(0, 0, 0, 0.842);
  border-radius: 5px;
  padding: 6px;
  background: transparent;
  min-width: 200px;
}
.large-input {
  border: 0.5px solid rgba(0, 0, 0, 0.842);
  border-radius: 5px;
  padding: 10px;
  background: transparent;
  min-width: 350px;
  min-height: 100px;
}

.btn {
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #37a1e4;
  border: none;
  font-weight: 400;
  max-width: 200px;
  font-size: 15px;
}
.btn:hover{
  transition: ease all 0.3s;
background-color: #2476b9;
box-shadow: 0 0 10px #2196f3;
}
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  border: 2px solid black;
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.signup-inputarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.signup-inputarea label {
  text-align: start;
  width: 30%;
}
.signup-container h1 {
  margin: 20px 0;
}
.signup-container label {
  align-items: start;
  justify-content: start;
  text-align: start;
  font-weight: 400;
  font-size: 20px;
}

.Addbook-container{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.Addbook-container h1{
  width: 100%;
}
.Addbook-inputarea{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}
.large-Addbook-inputarea{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}
.large-Addbook-inputarea label{
  width: 15%;
}
.large-Addbook-inputarea textarea{
  width: 65%;
}
.Addbook-inputarea label{
  width: 30%;
}
.Addbook-inputarea-select{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
}
.Addbook-inputarea-select label{
  width: 30%;
}

.Addbook-inputarea select{
  min-width: 165px;
}

.addbook-main-container{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
table {
  border: 1.5px solid black;
  border-radius: 10px;
  height: fit-content;
  width: 43%;
  overflow: visible;
  min-width: 500px;
  margin: 20px;
  
}
.data-table{
  border: 1.5px solid black;
  border-radius: 10px;
  height: fit-content;
  width: 90%;
  overflow: visible;
  min-width: 500px;
  margin: 20px;
  align-items: center;
  text-align: center;
}
tbody , tr{
  height: fit-content;
}
td{
  
  height: fit-content;
  font-weight: 200;
  font-size: 15px;
}
th{
  background-color: grey;
  font-weight: 500;
  padding: 5px;
  font-weight: 400;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.userlist-container{
  width: 100%;
  height: 100%;
  /* min-height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin: 10px;
}
.userlist-container h1{
  margin: 20px 0;
}
.book-info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  background-color: grey;
  border-radius: 10px;
  padding: 10px 0;
  font-weight: 500;
}
.loader{
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.loader h1{
  color: #682da3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}
.dilog{
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   background: rgba(114, 113, 113, 0.382);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.dilog-container{
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}
.dilog-container h1{
  color: #0541ce;
  font-weight: 500;
  font-size: 40px;
}
.dilog-container h3{
  font-size: 20px;
  font-weight: 300;
}
.edit{
  background-color: #24A0ED;
}
.delete{
  background-color: rgb(253, 43, 43);
}
.cancel{
  background-color:crimson;
  color: white;
}
.cancel:hover{
  background-color: rgb(200, 17, 53);
  box-shadow: 0 0 10px rgb(255, 21, 68);
}
.eye:hover{
  background-color:rgb(222, 241, 255);
}
.okay{
  background-color: #0541ce;
  color: white;
}
.okay:hover{
  background-color: #043cc0;
  box-shadow: 0 0 10px #0541ce;
}
.submit{
  background-color: #00c04b;
}
.submit:hover{
  
  background-color: #00a13e;
  box-shadow: 0 0 10px #009238;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10%;
}
.log-out{
  color: rgb(251, 44, 44);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(249, 46, 46);
  margin: 10px;
}
.log-out:hover{
  transition: ease all 0.3s;
  box-shadow: 0 0 10px rgb(254, 39, 39);
}
.sort-input {
  border: 0.5px solid rgba(0, 0, 0, 0.842);
  border-radius: 5px;
  padding: 6px;
  background: transparent;
  width: 150px;
}
.image-input{
  display: none;
}
.back{
  background-color: rgb(178, 192, 54);
}
.back:hover{
  background-color: rgb(154, 154, 23);
  box-shadow: 0 0 10px rgb(184, 184, 3);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-container{
  display: flex;
  gap: 170px;
}
.link-container p{
  width: 100%;
}
h1 , h2, h3 , h4 , p , label {
  color: rgb(80, 80, 80);
}

@media (max-width: 440px) {
  .footer-container
  .navbar-container{
    width: auto;
  }
  .Addbook-inputarea{
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
  }
  .signup-container,
  .login-container{
    width: 80%;
  }
  .book-info{
    flex-direction: column;
  }
}